django==1.9.0
django-extensions==1.6.1
werkzeug==0.11.2
PyYaml==3.11
djangorestframework==3.3.2
model-mommy==1.2.6
nosy==1.2
channels==0.8
aiohttp==0.19.0
autobahn==0.11.0
honcho==0.6.6
asynctest==0.5.0
httpbin==0.4.0
