[Unit]
Description=Pod http server
Requires=pod-web.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/vagrant/
ExecStart=/home/vagrant/pod-venv/bin/gunicorn --pid /run/gunicorn/pid pod.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
