[Unit]
Description=Pod http server
Requires=pod-web.socket
Wants=pod-celery.service
After=network.target

[Service]
WorkingDirectory=/tmp
ExecStart=/opt/pod/virtualenv/bin/gunicorn pod.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
